doctype html
html
  head
    title LiveSync
    link(rel='stylesheet' type='text/css' href='/live/css/client.css')
    script(src='/socket.io/socket.io.js')
    script(src='/live/js/livesync.js')
    script(src='/live/js/tree-mirror.js')
    script(src='/live/js/client.js')
  body
    #livesync-presession
      h1 LiveSync Client System

      #livesync-center-content
        input(type='text' id='livesync-code' placeholder='XXXXXXXXX' maxlength="9")
        br
        #livesync-error
        button#livesync-connect(type='submit') Verbinden

    #livesync-content
    .virtual-cursor