doctype html
html
  head
    title LiveSync
    link(rel='stylesheet' type='text/css' href='/live/css/application.css')
    script(src='/socket.io/socket.io.js')
    script(src='/live/js/host.js')
    script(src='/live/js/livesync.js')
  body
    h1 LiveSync Host System

    div#session-not-running
      button#start-session Sitzung starten

    div#session-running
      input#session-id(type='text' disabled='disabled')
      button#end-session Sitzung beenden

      a#app-link