/**
 * LiveSync Styles
 */

body {
  margin: 0;
  padding: 0;
}

#livesync-viewport {
  position: absolute;
  top: 40;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  background: #444;
}

#livesync-header {
  background: #222;
  color: #EEE;
  height: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#livesync-header small {
  font-size: 12px;
}

#livesync-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;
  background: white;
  box-shadow: 0 5px 5px 5px #000;
}

.livesync--heading {
  display: inline-block;
  margin: 0 16px;
  line-height: 40px;
  font-weight: 100;
  font-size: 24px;
}

.livesync--buttongroup {
  margin: 5px 8px 0;
  display: inline-block;
  border-right: 1px solid gray;
}

.livesync--button {
  background: #555;
  height: 80%;
  color: white;
  border: 1px solid #222;
  border-top: 0;
  border-right: 0;
  cursor: pointer;
}

.livesync--button:focus {
  box-shadow: 0;
  outline: 0;
}

.livesync--button:hover {
  background: #666;
}

.livesync--button-active {
  background: #777;
}

#livesync--drawbuttons {
  float: right;
  padding-right: 8px;
}

#livesync--drawbuttons::before {
  content: "Zeichenmodus";
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  margin-right: 16px;
}

#livesync--drawbuttons .livesync--button {
  min-width: 30px;
}

#livesync--close-session {
  color: red;
  float: right;
  line-height: 40px;
  margin: 10px 8px;
  font-size: 20px;
  cursor: pointer;
}

#livesync--close-session:hover {
  color: lightcoral;
}

/**
 * Application Styles
 */

.header {
  background: #005CAA;
  height: 80px;
}

.center-content {
  max-width: 960px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.offer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offer {
  max-width: 860px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  color: rgb(102, 102, 102);
}

.offer.selected {
  opacity: 1;
}

.offer__provider,
.offer__bla,
.offer__interest-rate,
.offer__interest
{
  width: 23%;
  display: inline-block;
}

.offer__bla,
.offer__interest-rate,
.offer__interest {
  text-align: right;
}

.offer__value {
  font-weight: 700;
  font-size: 26px;
}

.offer__label {
  font-size: 12px;
  color: rgb(153, 153, 153);
}

.offer__interest .offer__value {
  color: #78B700;
}

.offer::before {
  content: "";
  width: 13px;
  height: 165px;
  background: #78B700;
  display: inline-block;
}

.parameters {
  border: 1px solid #DADADA;
}

.parameters__title {
  margin: 0;
  padding: 8px 16px;
  background: #F0F0F0;
  color: #005CAA;
}

.parameters__list {
  margin: 8px 16px;
}

.parameter {
  display: inline-block;
  padding: 5px;
}

.parameter__label {
  color: gray;
  font-weight: bold;
  font-size: 14px;
}

.parameter__value {
  border: 1px solid gray;
  line-height: 44px;
}