* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.virtual-cursor {
  position: absolute;
  top: -1000px;
  left: -1000px;
  background: url('/live/imgs/cursor.png') no-repeat;
  width: 17px;
  height: 25px;
  z-index: 100;
}

#livesync-presession {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #005CAA;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.5;
}

#livesync-center-content {
  max-width: 33%;
  margin: 20% auto 0 auto;
}


#livesync-code {
	font-size: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
	border: 2px solid white;
  color: white;
  width: 100%;
  box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

#livesync-connect {
  width: 100%;
  border: 1px solid white;
  margin: 10px 0 0 0;
  background: transparent;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

#livesync-connect:hover {
  background: #007CCA;
}

#livesync-connect:active {
  background: #004C9A;
}

#livesync-error {
  color: red;
  text-align: left;
}

/**
 * Ivana Click Effect
 */

.click--effect::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

.click--effect::before,
.click--effect::after {
	box-shadow: 0 0 0 2px rgba(111,148,182,0.5);
}

.click--effect::before {
	-webkit-animation: anim-effect-ivana-1 0.5s forwards;
	animation: anim-effect-ivana-1 0.5s forwards;
}

.click--effect::after {
	-webkit-animation: anim-effect-ivana-2 0.5s forwards;
	animation: anim-effect-ivana-2 0.5s forwards;
}

@-webkit-keyframes anim-effect-ivana-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes anim-effect-ivana-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

@-webkit-keyframes anim-effect-ivana-2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	50%, 100% {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-ivana-2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	50%, 100% {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}