<div class="wrapper">
  <div class="header">
  </div>

  <div class="center-content" ng-if="offers.length > 0">
    <nav>
      <li>Vergleich</li>
      <li>Merkzettel</li>
    </nav>

    <div class="parameters">
	    <h1 class="parameters__title">Ihr Baufinanzierungs-Vergleich</h1>
      <div class="parameters__list">
        <div class="parameter" ng-repeat="parameter in parameters">
          <div class="parameter__label">{{parameter.label}}</div>
          <div class="parameter__value">{{parameter.value}}</div>
        </div>
      </div>
    </div>

    <div class="offer-list">
	    <offer ng-repeat="offer in offers" offer='offer'></offer>
    </div>
  </div>

  <div class="center-content" ng-if="offers.length === 0">
    <h1>Ihr Baufinanzierungsberater stellt gerade Angebote für Sie zusammen.</h1>
  </div>
</div>