<div class="offer" ng-class="{ selected: offer.selected }">
  <div class="offer__provider">{{offer.provider}}</div>
  <div class="offer__bla">
    <div class="offer__value">{{offer.bla}}%</div>
    <div class="offer__label">Beleihungsauslauf</div>
  </div>
  <div class="offer__interest-rate">
    <div class="offer__value">{{offer.interestRate}} €</div>
    <div class="offer__label">monatlich</div>
  </div>
  <div class="offer__interest">
    <div class="offer__value">{{offer.interest}}%</div>
    <div class="offer__label">eff. Jahreszins</div>
  </div>
  <div>
    <input type="checkbox" ng-model="offer.selected" /> Angebot an Kunden übermitteln?
  </div>
</div>